{% extends 'base/base.html' %}
{% load static %}

{% block title %}IskraForum{% endblock title %}

{% block css %}
    body {
        color: #dddddd !important;
    }

    .title h3{
        margin: 1.2em 0 .6em 0 !important;
        font-weight: 600 !important;
        text-align: center !important;
    }
    .comm-list .comm-title {
        font-weight: 400 !important;
    }
    .comm-list .comm {
        cursor: pointer !important;
        text-decoration: none !important;
    }
    .card {
        background-color: #19242e !important;
        text-decoration: none;
        color: #dddddd !important;
    }
    .card:hover {
        background-color: #17212b !important;
    }
    .card .comm-desc {
        font-size: .8em !important;
    }
    .card .comn-title {
        font-weight: 700 !important;
        font-size: 1.23em !important;
    }
    .card .comm-header {
        font-size: .9em !important;
        color: #7691AB !important;
        font-weight: 400 !important;
        background-image: linear-gradient(180deg, #151c2311, #293d4d66);
        border-bottom: solid 1.5px #283A45 !important;
        letter-spacing: 2px !important;
        text-align: center !important;
    }
    .col-lg-3:first-of-type {
        //background-color: #101518 !important; {# isključeno #}
    }
    .thread-title {
        margin: .4em 0 1em 0 !important;
        font-weight: 700 !important;
        font-size: 1.35em !important;
    }
    .thread-text {
        //background-color: #233543 !important;
        //padding: 1em .8em;
        color: #dddddd !important;
        border-radius: 7px !important;
        font-size: .95em !important;
        font-weight: 400 !important;
    }
    .thread-footer {     
        background-image: linear-gradient(360deg, #151c2311, #293d4d66);
        background-color: #151c23 !important;
        border-top: solid 1px #283A45 !important;
        margin: 0 !important;
    }
    .thread-footer .post-info {
        font-weight: 500 !important;
        letter-spacing: 1px !important;
        color: #7691AB !important;
    }
    .thread-footer .category {
        color: #dddddd !important;
        font-weight: 200 !important;
        background-image: linear-gradient(90deg, #6789AB22, #7197BD44);
        padding: 0em 1em !important;
        margin: 0 !important;
        border-radius: 500px !important;
        text-decoration: none !important;
    }
    .thread-footer .category:hover {
        background-image: linear-gradient(90deg, #6789AB44, #7197BD66);
    }
    .thread-footer .category {
        margin-left: auto;
    }
    .user-list .username {
        margin: 0 .5em !important;
    }
    .user-list .usr-avatar {
        border-radius: 500px !important;
        border: solid 2px #283A45 !important;
    }
    .user-list .user {
        background-image: linear-gradient(360deg, #151c2311, #293d4d66);
    }
    .thread-body {
        text-decoration: none !important;
        color: #dddddd !important;
        cursor: pointer !important;
    }
    .card .card-footer .thread-user-link {
        text-decoration: none !important;
        color: #79A1C9 !important;
        border-radius: 6px !important;
        //padding: .2em .1em !important;
    }
    .card .card-footer .thread-user-link:hover {
        text-decoration: underline !important;
    }
    .container-home {
        margin-bottom: 5em !important;
    }
{% endblock css %}

{% block content %}
    <div class="container container-home">
        <div class="row">
            <div class="col-lg-2">
                
                    <div class="container-fluid inner-container">
                        <div class="row">
                            <div class="col-md-12 title">
                                <h3 class="">Categories</h3>
                            </div>
                            <div class="col-md-12 comm-list"> {# struktura community-a #}
                                {% for category in categories reversed %}
                                <a class="card mb-2" href="#category">
                                    <div class="card-header comm-header">Category</div>
                                    <div class="card-body">
                                      <h5 class="card-title comn-title">{{category.name}}</h5>
                                      <p class="card-text comm-desc">{{category.description}}</p>
                                      <!-- <p>{{category.created|date:'d.m.Y H:i'}}</p> **mogućnost ispisa datuma kreiranja -->
                                    </div>
                                </a>
                                {% endfor %}
                            </div>                            
                        </div>
                    </div>
            </div>
            <div class="col-lg-8">
                 <div class="container-fluid inner-container">
                        <div class="row communities">
                            <div class="col-md-12 title">
                                <h3 class="">Newest threads</h3>
                            </div>

                                <div class="col-md-12 thread-list"> {# struktura community-a #}
                                    {% for thread in threads reversed %}
                                    <div class="card mb-2">
                                        
                                        <a href="/thread/{{thread.id}}" class="card-body thread-body">
                                          <h5 class="card-title thread-title">{{ thread.title }}</h5>
                                          <p class="card-text thread-text">{{ thread.description }}</p>
                                        </a>
                                        <div class="card-footer thread-footer d-flex align-items-center justify-content-between">
                                             <span class="post-info">Posted on {{ thread.created|date:'d.m.Y H:i' }} by <a href="/user/{{thread.uploader.username}}" class="thread-user-link"> {{thread.uploader.username}} </a> </span> <a class="category" href="#category"> {{thread.category.name}} </a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-2">
                <div class="container-fluid inner-container">
                    <div class="row communities">
                        <div class="col-md-12 title">
                            <h3 class="">Active Users</h3>
                        </div>
                            {% for user in users %}
                            <div class="col-md-12 user-list">
                                <a href="/user/{{user.username}}" class="card mb-2 user">
                                    <div class="card-body d-flex p-2 justify-content-start align-items-center">
                                        <img class="usr-avatar" src="{% static 'base/img/avatar.png' %}" alt="" width="35px" height="35px">
                                        <p class="username">{{ user.username }}</p>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
