{% extends 'base/base.html' %}
{% load static %}

{% block title %}IskraForum{% endblock title %}

{% block css %}
    body {
        color: #dddddd !important;
    }

    .title h3{
        margin: 1.2em 0 .6em 0 !important;
        font-weight: 600 !important;
        text-align: center !important;
    }
    .comm-list .comm-title {
        font-weight: 400 !important;
    }
    .comm-list .comm {
        cursor: pointer !important;
        text-decoration: none !important;
    }
    .card {
        background-color: #19242e !important;
        {% comment %} background-color: #12171c !important;
        border: solid 1px #333333 !important; {% endcomment %}
        text-decoration: none;
        color: #dddddd !important;
    }
    .thread-list .card {
        transition: all 0.2s ease-in-out;
        {% comment %} transform: scale(1); {% endcomment %}
    }
    .thread-list .card:hover {
        background-color: #1b2632 !important;
        {% comment %} transform: scale(1.008); {% endcomment %}
    }
    .card .comm-desc {
        font-size: .8em !important;
    }
    .card .comm-header {
        font-size: .9em !important;
        color: #7691AB !important;
        font-weight: 400 !important;
        background-image: linear-gradient(180deg, #151c2311, #293d4d66);
        border-bottom: solid 1.5px #283A45 !important;
        letter-spacing: 2px !important;
        text-align: center !important;
    }
    .col-lg-3:first-of-type {
        //background-color: #101518 !important; {# isključeno #}
    }
    .thread-title {
        transition: all 0.2s ease-in-out;
        margin: .4em 0 1em 0 !important;
        font-weight: 700 !important;
        font-size: 1.35em !important;
    }
    .thread-text {
        //background-color: #233543 !important;
        //padding: 1em .8em;
        color: #dddddd !important;
        border-radius: 7px !important;
        font-size: .95em !important;
        font-weight: 300 !important;
    }
    .thread-footer {     
        background-image: linear-gradient(180deg, #151c2311, #293d4d11);
        background-color: #151c23 !important;
        border-top: solid 1px #283A45 !important;
        margin: 0 !important;
    }
    .thread-footer .post-info {
        font-weight: 500 !important;
        letter-spacing: 1px !important;
        color: #7691AB !important;
    }
    .thread-footer .category {
        color: #dddddd !important;
        font-weight: 400 !important;
        background-image: linear-gradient(90deg, #6789AB22, #7197BD44);
        padding: 0em .4em !important;
        margin: 0 !important;
        border-radius: 6px !important;
        padding-top: .1em !important;
        text-decoration: none !important;
        transition: all 0.5s ease;
    }
    .thread-footer .category:hover {
        background-image: linear-gradient(90deg, #6789AB44, #7197BD66);
        transition: all 0.5s ease;
    }
    .thread-footer .category {
        margin-left: auto;
    }
    .user-list .username {
        margin: .1em .5em 0 .5em !important;
        font-weight: 300 !important;
        font-size: 1.1em !important;
    }
    .user-list .usr-avatar {
        border-radius: 500px !important;
        {% comment %} border: solid 2px #283A45 !important; {% endcomment %}
    }
    .user-list .user {
        background-image: linear-gradient(360deg, #151c2311, #293d4d66);
    }
    .thread-body {
        text-decoration: none !important;
        color: #dddddd !important;
        cursor: pointer !important;
    }
    .card .card-footer .thread-user-link {
        text-decoration: none !important;
        color: #79A1C9 !important;
        border-radius: 6px !important;
        //padding: .2em .1em !important;
    }
    .card .card-footer .thread-user-link:hover {
        text-decoration: underline !important;
    }
    .container-home {
        margin-bottom: 5em !important;
    }
    .card .comn-title {
        font-weight: 400 !important;
        font-size: 1.1em;
        letter-spacing: -.5px;
        text-decoration: none !important;
        color: #dddddd !important;
    }
    .fixed-sidebar {
        
    }
    .user {
        transform: scale(1) !important;
        transition: all 0.2s ease !important;
    }
    .user:hover {
        transform: scale(1.02) !important;
    }
    .card-category {
        padding: 1em !important;
        background-image: linear-gradient(180deg, #293d4d44, #151c2311) !important;
        {% comment %} background-color: #12171c !important;
        border: solid 1px #333333 !important; {% endcomment %}
    }
    .wrapper {
        transition: all 0.2s ease-out;
        border-radius: 6px !important;
        padding: .2em 0 !important;
        {% comment %} background-image: linear-gradient(90deg, #6789AB00, #7197BD00); {% endcomment %}
        background-color: #33455700 !important;
        border-bottom: solid 2px #283A45;
        
    }
    .wrapper h5 {
        margin: 0 !important;
    }
    .wrapper:hover {
        {% comment %} background-image: linear-gradient(90deg, #6789AB44, #7197BD66); {% endcomment %}
        background-color: #334557 !important;
        margin: .4em 0 !important;
    }

    .comm-list {
        {% comment %} background-color: #19242e !important; {% endcomment %}
        border-radius: 6px !important;
        padding 0 !important;
        text-decoration: none !important;
        {% comment %} padding: 1.4em;
        margin-left: -1em !important; {% endcomment %}
    }
    a {
        text-decoration: none !important;
    }
    @media (max-width: 575px) { 
        .card-category {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
        }
    }
    @media (max-width: 991px) { 
        .comn-title {
            font-size: 1.3em !important;
        }
        .wrapper {
            border-bottom: none !important;
        }
    }
{% endblock css %}

{% block content %}
    <div class="container container-home">
        <div class="row">
            <div class="col-lg-2">
                
                    <div class="container-fluid inner-container">
                        <div class="row">
                            <div class="col-md-12 title">
                                <h3 class="">Categories</h3>
                            </div>
                            <div class="col-md-12 comm-list fixed-sidebar">
                                <div class="card card-category">
                                {% for category in categories %}
                                <a class="category-link d-flex" href="{% url 'home' %}?q={{category.name}}">
                                    {% comment %} <div class="card-header comm-header">Category</div> {% endcomment %}
                                    <div class="wrapper p-1">
                                      <h5 class="card-title comn-title">{{category.name}}</h5>
                                      {% comment %} <p class="card-text comm-desc"></p> {% endcomment %}
                                      <!-- <p>{{category.created|date:'d.m.Y H:i'}}</p> **mogućnost ispisa datuma kreiranja -->
                                    </div>
                                </a>
                                {% endfor %}
                                </div>
                            </div>                            
                        </div>
                    </div>
            </div>
            <div class="col-lg-8">
                 <div class="container-fluid inner-container">
                        <div class="row communities">
                            <div class="col-md-12 title">
                                <h3 class="">Newest threads</h3>
                            </div>

                                <div class="col-md-12 thread-list">
                                    {% for thread in threads reversed %}
                                    <div class="card mb-2" data-aos="fade-up" data-aos-offset="100">
                                        
                                        <a href="/thread/{{thread.id}}" class="card-body thread-body">
                                          <h5 class="card-title thread-title">{{ thread.title|upper }}</h5>
                                          <p class="card-text thread-text">{{ thread.description|truncatewords:50 }} </p>
                                        </a>
                                        <div class="card-footer thread-footer d-flex align-items-center justify-content-between">
                                             <span class="post-info"><a href="/user/{{thread.uploader.username}}" class="thread-user-link"> {{thread.uploader.username}} </a> - {{ thread.created|timesince }} ago </span> <a class="category" href="{% url 'home' %}?q={{thread.category.name}}"> {{thread.category.name}} </a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-2">
                <div class="container-fluid inner-container">
                    <div class="row communities">
                        <div class="col-md-12 title">
                            <h3 class="">Active Users</h3>
                        </div>
                            {% for user in users %}
                            <div class="col-md-12 user-list">
                                <a href="/user/{{user.username}}" class="card mb-2 user">
                                    <div class="card-body d-flex p-2 justify-content-start align-items-center">
                                        <i class="fa-regular fa-user usr-avatar"></i>
                                        <p class="username">{{ user.username }}</p>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
