{% extends 'base/base.html' %}
{% load static %}

{% block title %}Create a thread{% endblock title %}

{% block css %}
    h1,
    form,
    button,
    p {
        color: #dddddd !important;
    }
    .form-control, .form-select {
        background-color: #0e1216 !important;
        color: white !important;
        border: solid 1px #444444 !important;
    }
    .card {
        background-color: #192129 !important;
        margin: 2vh 12.65vw;
        padding: 2vw 3vh;
    }
    .form-label {
        font-size: 1.2em !important;
    }
    .register {
        font-weight: 800 !important;
        font-size: 1.8rem !important;
        text-align: center !important;
    }
    .textarea {
        height: 200px !important;
    }
    .create-thread-container {
        margin-bottom: 5em !important;
    }
    .wrap {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .btn-success {
        font-weight: 500 !important;
        color: #222222 !important;
        background-color: #6FAAD6 !important;
        border-color: #6FAAD6 !important;
        margin: .7em 0 0em 0!important;
        font-weight: 700 !important;
        font-size: 1.2em !important;
    }
    .btn-success:hover {
        background-color: #95D6FF !important;
    }
    @media (max-width: 767px) {
        .btn-success {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            width: 100% !important;
            margin-bottom: 2em !important;
            font-size: 1.2em !important;
        }
        .wrap {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
        }
        .register {
            margin: .5em 0 !important;
        }
        .card {
            background-color: #192129 !important;
            margin: 2vh 3.65vw;
            padding: 0vh 3vw;
        }
        .mt-5{
            margin-top: 1rem !important;
        }
    }
{% endblock css %}

{% block content %}

<div class="container create-thread-container">
    <div class="card mt-5">
    {% if user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}
        {% if request.user == thread.uploader %}
        <h2 class="register">Edit a thread</h2>
        {% else %}
        <h1 class="register">Create a thread</h1>
        {% endif %}
        <div class="mb-3 form-floating">
            {{form.title}}
            <label for="floatingInput" class="form-label">Title</label>
        </div>
        <div class="mb-3 form-floating">
            {{form.description}}
            <label for="floatingInput" class="form-label">Description</label>
        </div>
        <div class="mb-3 form-floating">
            {{form.uploader}}
            <label for="floatingInput" class="form-label">Uploader</label>
        </div>
        <div class="mb-3 form-floating">
            {{form.category}}
            <label for="floatingInput" class="form-label">Category</label>
        </div>
        <div class="wrap">
            {% if request.user == thread.uploader %}
                <input type="submit" value="Update" class="btn btn-success">
            {% else %}
                <input type="submit" value="Create" class="btn btn-success">
            {% endif %}
        </div>
    </div>
    </form>
    {% endif %}
</div>


{% endblock content %}
