{% extends 'base/base.html' %}

{% block css %}
    h1,
    form,
    button,
    p {
        color: #dddddd !important;
    }
    .btn-success {
        font-weight: 500 !important;
        color: #222222 !important;
        background-color: #6FAAD6 !important;
        border-color: #6FAAD6 !important;
        margin: .7em 0 2em 0!important;
        font-weight: 700 !important;
        font-size: 1.2em !important;
    }
    .btn-success:hover {
        background-color: #95D6FF !important;
    }
    .card {
        background-color: #192129 !important;
        margin: 2vh 12.65vw;
        padding: 2vw 3vh !important;
    }
    .register {
        font-weight: 800 !important;
        font-size: 1.8rem !important;
        text-align: center !important;
        color: #dddddd !important;
    }
    .form-label {
        font-size: 1.2em !important;
    }
    .help-password p, .help-email {
        color: #999999 !important;
        font-weight: 300 !important;
        font-size: .9rem !important;
        margin-bottom: 0em !important; 
    }
    .form-control {
        background-color: #0e1216 !important;
        color: white !important;
        border: solid 1px #444444 !important;
    }
    .account-info {
        margin: 0 !important;
    }
    .wrap {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    @media (max-width: 767px) {
        .btn-success {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            width: 100% !important;
            margin-bottom: 2em !important;
            font-size: 1.2em !important;
        }
        .wrap {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
        }
        .register {
            margin: .5em 0 !important;
        }
        .card {
            background-color: #192129 !important;
            margin: 2vh 3.65vw;
            padding: 2vw 3vh !important;
        }
    }
{% endblock css %}

{% block title %}Create an Account{% endblock title %}

{% if form.errors %}
<p>There was an error</p>
{% endif %}

{% block content %}
    <div class="container mt-5">
        <div class="card mt-5">
            <h2 class="register">Register</h2>
            <form method="POST" action="" class="register-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 form-floating">
                            {{form.username}}
                            <label for="floatingInput" class="form-label">Username</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 form-floating">
                            {{form.email}}
                            <label for="floatingInput" class="form-label">Email</label>
                            <div id="emailHelp" class="form-text help-email">We'll never share your email with anyone else.</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 form-floating">
                    {{form.password1}}
                    <label for="floatingInput" class="form-label">Password</label>
                    <div id="passwordHelpBlock" class="form-text help-password">
                        <p>Your password can't be similar to you other information</p>
                        <p>It must contain at least 8 characters</p>
                        <p>It can't be a commmonly used password</p>
                        <p>Your password can't be entirely numeric</p>
                    </div>
                </div>
                <div class="mb-3 form-floating">
                    {{form.password2}}
                    <label for="floatingInput" class="form-label">Password Confirm</label>
                </div>
                <div class="wrap">
                    <button class="btn btn-success" type="submit">Register</button>
                </div>
            </form>
            <p class="text-center account-info">If you already have an account, <a href="/login">login</a> instead.</p>
        </div>
    </div>
{% endblock content %}